@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;700&display=swap");

*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", "Roboto", sans-serif;
  background: #fcb31b;
}
.container {
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .main {
  background-color: rgb(33, 33, 33);
  max-width: 300px;
  width: 300px;
  height: 470px;
  border-radius: 15px;
}
.display {
  height: 24%;
  padding: 1rem;
  background-color: rgb(33, 33, 33);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.display .previous {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  
  padding: 1rem;
  background-color: #3b3b3b;
  width: 100%;
  height: 50%;
  color: #60a07f;
  font-size:1.325rem;
  text-align: right;
  font-weight: 400;
}
.display .current {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1rem;
  padding-bottom: 2.7rem;
  margin-top: -0.5rem;
  background-color: #3b3b3b;
  width: 100%;
  height: 50%;
  color:white;
  text-align: right;
  font-weight: 500;
  font-size: 1.6em;
}

.all-buttons {
  height: 74%;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  background-color: rgb(33, 33, 33);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.button {
  border-radius: 100%;
  padding: 1rem 0;
  font-weight: 700;
  /* width: 61px; */
  /* height: 58px; */
  background-color: rgb(97, 97, 97);
  outline: none;
  border: 0px solid transparent;
  color: #dfdfdf;
  cursor: pointer;
  font-size: 1.325rem;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.button:hover {
  /* margin-bottom: 5px; */
  color: black;
  transform: translateY(-0.25rem);
  background: #bdbdbd;
}
.button#allclear:hover,
.button#clear:hover {
  background-color: lightcoral;
}
.button.operators:hover {
  background-color: mediumturquoise;
}
.button.operators.equals:hover {
  background-color: limegreen;
}

button#equal {
  /* grid-column-start: 3;
  grid-column-end: 6; */

  grid-column: span 2;
  /* width: ; */
  border-radius: 37px;
}
